<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 pb-3 px-4 border-bottom">
        
        <a class="btn btn-light rounded" href="/dashboard/schlauchmanagment" role="button">
                <h6>Schlauchmanagment</h6>
                <img src="img/Schlauch.png" height="100px" width="100px"/>
        </a>
      
</main>