<div class="card m-1">
    <div class="card-header">
      Schlauch
    </div>
    <div class="card-block m-3">
      <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Schlauch ID</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ID">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Hersteller</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Ziegler</option>
            <option>GFD</option>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">DIN Norm</label>
            <select class="form-control" id="exampleFormControlSelect2">
              <option>DIN 12345</option>
              <option>DIN 6789</option>
            </select>
        </div>
        <div class="form-group">
          <label for="example-number-input" class="col-form-label">Baujahr</label>
          <input class="form-control" type="number" id="example-number-input">
        </div>
      </form>
    </div>
  </div>